<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="composer" translate="label" sortOrder="200">
            <label>Composer</label>
        </tab>
        <section id="composer" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Composer</label>
            <tab>composer</tab>
            <resource>Magezon_Composer::accesskeys_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="max_keys" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Max allowed number of keys</label>
                </field>
                <field id="composer_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Composer Repository URL</label>
                </field>
                <field id="extensions" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Upload Package's Extensions</label>
                </field>
            </group>
        </section>
    </system>
</config>