<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magezon_Composer::api" title="Magezon API - Composer"
                          translate="title" sortOrder="110">
                    <resource id="Magezon_Composer::packages_get" title="Get authorized packages"
                              translate="title" sortOrder="10" />
                    <resource id="Magezon_Composer::package_post" title="Update package latest version"
                              translate="title" sortOrder="20" />
                    <resource id="Magezon_Composer::versions_post" title="Update all packages versions"
                              translate="title" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>